{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "header" .}}
</head>
<body>
    {{ template "navbar" .}}
    {{ template "body" .}}

    {{ template "footer" .}}
    {{ template "javascript" .}}
</body>
</html>
{{ end }}