{{ template "base" .}}
{{ define "title" }} Home {{ end }}
{{ define "body" }}
    <h3>Hello Nathan - Welcome to your project.</h3>
    <p>Nothing yet you have added</p>
    <button type="button" class="btn btn-primary">Primary</button>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Strong:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </div>
{{ end }}