{{ template "base" .}}
{{ define "title" }} Home {{ end }}
{{ define "body" }}
    <h3 class="text-center mt-5">Hello Nathan - Welcome to your project.</h3>
    <div class="container">
      <div class="row m-5">
          <div class="col-md-12">
            {{ if .Estates }}
              <table class="table">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Agent ID</th>
                          <th>Location</th>
                          <th>County</th>
                          <th>Square Fts</th>
                          <th>Price (Kes)</th>
                          <th>Bedrooms</th>
                          <th>Washrooms</th>
                          <th>Short Description</th>
                          <th>Date Created</th>
                      </tr>
                  </thead>
                  <tbody>
                      {{ range .Estates }}
                      <tr>
                          <td scope="row">{{ .ID }}</td>
                          <td>{{ .Name }}</td>
                          <td>{{ .AgentName }}</td>
                          <td>{{ .Address }}</td>
                          <td>{{ .County }}</td>
                          <td>{{ .SpaceArea }}</td>
                          <td>{{ .Price }}</td>
                          <td>{{ .Bedroom }}</td>
                          <td>{{ .Washroom }}</td>
                          <td>{{ .ShortDesc }}</td>
                          <td>{{ humanDate .CreatedAt}}</td>
                      </tr>
                      {{ end }}
                  </tbody>
              </table>
              {{ end }}
          </div>
      </div>
  </div>
{{ end }}